<section id="believe" class="relative isolate overflow-hidde text-white">
    <h2 class="uppercase">What We Believe</h2>
    <p>Breath of Life is founded upon the belief that the Bible is the inspired, infallible Word of God.</p>
    <p>We believe in the great commission and are endeavoring to share the Gospel of Jesus Christ with love, mercy and compassion.</p>
    <p>We believe there is only one God (Deuteronomy 6:4). He is the creator of heaven and earth, and of all living beings. He has revealed Himself to humanity as the Father (Creator), as the Son (Savior), and as the Holy Ghost (indwelling Spirit in the church today).</p>  
    <p>We believe in water baptism by immersion in the Name of the Lord Jesus Christ for the remission of sin. Through baptism we identify with the death, burial and resurrection of Jesus Christ (Romans 6:3-6, Colossians 2:11-14, Acts 2:38).</p>
    <p>We believe in the Baptism of the Holy Spirit with the initial sign of speaking in other tongues (Acts 2:4).</p>
    <p>We believe in the manifestation of the gifts of the Holy Spirit. He ministers to His people through tongues, interpretation of tongues, prophecy; words of knowledge and wisdom, discerning of spirits, faith, working of miracles, healing, helps and government (Mark 16:15-18, Acts 5:16, 2 Corinthians 12:1-11).​​.</p>
</section>

<style>
    section {
        width: 100vw;
        padding: 60px;
        bottom: 0;
        font-size: 20px;
        background: linear-gradient(to bottom right, #00032e, #AD4A28);
    }

    h2 {
        font-weight: bold;
    }
    
    p {
        margin-top: 10px;
    }
</style>