<section class="relative isolate overflow-hidden bg-blue-950 text-white">
    <a href="https://www.facebook.com/BreathOfLifeTX/videos/1524823095121758" target="_blank">
        <div class="mx-auto max-w-2xl lg:max-w-4xl">
            <figure>
                <img class="mx-auto h-40 w-40 mb-6 rounded-full" src="/pastorNichols.jpeg" alt="">
                <blockquote class="text-center text-xl font-semibold leading-8 text-white sm:text-2xl sm:leading-9">
                    <p class="text-3xl">"I Found My Home"</p>
                </blockquote>
                <figcaption class="mt-3">
                <div class="mt-4 flex items-center justify-center space-x-3 text-base">
                    <div class="font-semibold text-white">M. A. Nichols</div>
                    <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-100">
                    <circle cx="1" cy="1" r="1" />
                    </svg>
                    <div class="text-gray-100">Pastor</div>
                </div>
                </figcaption>
            </figure>
            </div>
    </a>
</section>

<style>
    section {
        width: 100vw;
        padding: 60px;
        margin-top: 100px;
        background: linear-gradient(to bottom right, #00032e, #3fa6bc);
    }
</style>