<footer class="p-14">
    <a class="px-5 uppercase" href="#">Home</a>|
    <a class="px-5 uppercase" href="#misson">Misson</a>|
    <a class="px-5 uppercase" href="#staff">Staff</a>|
    <a class="px-5 uppercase" href="#believe">What We Believe</a>
</footer>

<style>
    footer {
        background-image: linear-gradient(to top, rgb(2 2 26), rgba(255,0,0,0));
    }
</style>