<section class="relative isolate overflow-hidde text-white">
    <h2 class="uppercase">Mission statement</h2>
    <p>At Breath of Life Church, we believe that every individual is created with a unique purpose that, when discovered and nurtured, advances the Kingdom of God. Our mission is to foster this purpose through our core principles of Train, Track, and Trust. We are dedicated to training individuals in their spiritual journey, tracking their growth and progress, and trusting in their potential to contribute meaningfully to our ministry. As we focus on developing and expanding ministries, we strive to create a supportive environment where families can thrive and grow. Breath of Life Church is committed to being not just a community church, but a place where you and your family can safely flourish in faith and purpose.</p>
</section>

<style>
    section {
        width: 100vw;
        padding: 60px;
        bottom: 0;
        font-size: 20px;
        background: linear-gradient(to bottom right, #AD4A28, #00032e);
    }

    h2 {
        font-weight: bold;
    }
    
    p {
        margin-top: 10px;
    }
</style>