<section id="staff" class="relative isolate overflow-hidde text-white">
    <h2 class="text-center uppercase">Staff</h2>
    <p>
        <div class="row columns-1 lg:columns-2 xl:columns-3">
            <div class="staff-card text-center">
                <img class="mx-auto h-40 w-40 mb-6 rounded-full" src="/pastorNichols.jpeg" alt="">
                Pastor<div class="name">M. A. Nichols and Sarah Nichols</div>
            </div>
            <div class="staff-card text-center">
                <img class="mx-auto h-40 w-40 mb-6 rounded-full" src="/pastorGavyn.jpeg" alt="">
                System Pastor<div class="name">Gavyn and Mari Sams</div>
            </div>
            <div class="staff-card text-center">
                <img class="mx-auto h-40 w-40 mb-6 rounded-full" src="/pastorIsaiah.jpeg" alt="">
                Children`s Pastor<div class="name">Isaiah and Rachel Sams</div>
            </div>
            <div class="staff-card text-center">
                <img class="mx-auto h-40 w-40 mb-6 rounded-full" src="/pastorRustina.jpeg" alt="">
                Children`s Evangelist<div class="name">Rustina Sams (“Labelle”)</div>
            </div>
            <div class="staff-card text-center">
                <img class="mx-auto h-40 w-40 mb-6 rounded-full" src="/pastorThomas.jpg" alt="">
                Hyphen Director<div class="name">Thomas and Hannah Williams</div>
            </div>
            <div class="staff-card text-center">
                <img class="mx-auto h-40 w-40 mb-6 rounded-full" src="/pastorMarcus.jpg" alt="">
                Pathfinder Director<div class="name">Marcus and Destinee Brown</div>
            </div>
        </div>
    </p>
</section>

<style>
    section {
        width: 100vw;
        padding: 60px;
        top: 0;
        font-size: 20px;
        background: linear-gradient(to bottom right, #3fa6bc, #00032e);
    }

    .staff-card {
        padding: 40px 20px;
    }

    .name {
        font-family: "Roboto", sans-serif;
        font-weight: 200;
    }

    h2 {
        font-weight: bold;
    }
    
    p {
        margin-top: 10px;
    }
</style>